*.log
.DS_Store
node_modules
dist
/bezbednost-front/package-lock.json
/.idea

/bezbednost-back/rootCertificates.jsk
/bezbednost-back/intermediateCertificates.jsk
/bezbednost-back/end-entityCertificates.jsk

/bezbednost-back/*.cer
