<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <appender name="INFO-FILE" class="ch.qos.logback.core.FileAppender">
        <file>loginfo.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="ERROR-FILE" class="ch.qos.logback.core.FileAppender">
        <file>logerror.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="logerror" level="DEBUG" additivity="false">
        <appender-ref ref="ERROR-FILE"/>
    </logger>

    <root>
        <appender-ref ref="INFO-FILE"/>
    </root>
</configuration>